.player {
    display: flex;
    position: relative;
     box-shadow: 5px 5px 5px 10px #b1a8a838;
     border-radius: 10px;
     overflow: hidden;
    &-side {
        width: 50%;
        justify-content: center;
        padding: 40px;
        text-align: center;
        background-color: rgba($color: #cf6f97c9, $alpha: 1.0);
    }

    &-score,
    &-current-score {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 20px;
    }
    &-current-score {
        padding: 20px;
        background-color: rgba(255, 4, 4, 0.329);
    }

    .overlay {
        position: absolute;
        left: 50%;
        top: 0;
        width: 200px;
        height: 100%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 15;
    }
    .dice {
        width: 100px;
        height: 100px;
        background-color: $white;
        font-size: 45px;
        padding: 25px;
        text-align: center;
    }
}
#popup {
    width: 380px;
    height: 180px;
    padding-top: 70px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    z-index: 1000;
    transition: all 0.3s ease;
    background-color: rgba(240, 199, 63, 0.699);
    color: rgb(0, 0, 0);
    font-size: 36px;
    text-align: center;
    align-items: center;
}
.hidden {
    display: none;
}
.active {
    background-color: rgba(255, 129, 129, 0.507);
    transition: all 0.5s ease;
}
